@model PruebaTec02EISG.Models.Carrera

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar carrera</h1>

<h4>Carrera</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarreraId" />
            <div class="row">
                  <div class="form-group col-md-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            </div>
          
           
            <div class="row">
                <div class="form-group col-md-12">
                 
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Canceart</a>
            </div>
            </div >
                
        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
